<div class="card-group">
  <!-- Light -->
  <div class="card card2 m-2">
      <img src="/img/aseo-pr1.png" alt="..." class="rounded-top">
      <div class="am-category-service-color" style="background-color: rgb(23, 136, 251);">
        LL
      </div>
      <div class="card-body">
        <h5 class="card-title text-dark">Limpieza Light</h5>
        <p class="card-text text-dark" style="opacity: 0.6;">Precio: CLP39.900</p>
        <img src="/img/asistente1.png"  class="rounded" alt="" style="width: 25px;">
      </div>
      <button class="btn w-75 btn-primary btn-ver-mas mb-3 m-auto" onclick="mostrarCaracteristicas('caracteristicas7')">Ver Más</button>
      
      
      <div id="caracteristicas7" class="caracteristicas">
        <!-- Contenido de las características de la tarjeta 1 -->
  
        <div class="container mt-5 text-dark">
          <div class="accordion" id="accordionServicios">
            <div class="card">
              <div class="card-header" id="headingLight">
                <img src="/img/aseo-pr1.png" class="rounded" alt="">
                <br>
  
                <button class="btn mt-2 btn-volver text-dark" onclick="ocultarCaracteristicas('caracteristicas7')">
                  <i class="fas fa-arrow-left"></i> Volver  Limpieza Hogar u Oficina hasta 100 Metros Cuadrados
                </button>
                
                <h2 class="mb-0">Limpieza Light</h2>
                <p>Capacidad: 1 <span style="opacity: 0.4;">|</span> Duración: 4h</p>
                <button class="btn btn-primary" style="padding: 16px 24px; border-radius: 25px; font-size: 25px;">CLP39.900</button>
              </div>
        
              <div id="collapseLight" class="collapse show" aria-labelledby="headingLight" data-parent="#accordionServicios">
                <div class="descripcion-servicio">
                  <h4 class="mt-4" style="font-weight: 600; text-align: left; margin-left: 10px;">Descripción</h4>
                  <p style="text-align: left; margin-left: 10px;">Servicio considerado en aseo en domicilios hasta 100 metros cuadrados.</p>
                  <br>
                  <p style="text-align: left; margin-left: 10px;">Cliente debe entregar set de productos de limpieza, si usted no cuenta con ellos nuestro especialista usará nuestro Kit de Limpieza Básico que consiste en: Cloro, Limpia pisos, Crema limpiadora, Lavaloza, Limpiavidrios, Lustra muebles y paños.</p>
                  <br>
                  <p style="text-align: left; margin-left: 10px;">Limpieza es realizada con maquinas profesionales, aspiradora industrial, maquina de limpieza a vapor y máquina de inyección-extracción. Esto nos permite optimizar nuestros tiempos de trabajo entendiendo que nuestros clientes buscan también optimizar sus tiempos.</p>
                  <br>
                  <p style="text-align: left; margin-left: 10px;">VALOR $39.900</p>
                  <br><br>
                  <p><strong>Servicio de Limpieza Light consiste en</strong></p>
                  
                  <h5 style="text-align: left; margin-left: 10px;">Living Comedor:</h5>
                  <ul style="text-align: left; margin-left: 10px;">
                    <li class="mt-4">Higienización de superficies limpieza, aspirado y vapor.</li>
                    <li class="mt-2">Eliminación de polvo de manera general y en las esquinas</li>
                    <li class="mt-2"> Limpieza de muebles externamente</li>
                    <li class="mt-2">Limpieza debajo de muebles (no se mueven muebles de más de 15kg)</li>
                    <li class="mt-2">Desmanchado de espejos</li>
                    <li class="mt-2">Barrido y fregado de suelos, incluye limpieza a vapor.</li>
                    <li class="mt-2">Aspiración de alfombras</li>
                    <li class="mt-2">Recolección de residuos</li>
                    
                  </ul>
                  
                  <h5 class="mt-5" style="text-align: left; margin-left: 10px;">Dormitorios:</h5>
                  <ul style="text-align: left; margin-left: 10px;">
                    <li  class="mt-4">Hacer las camas (cliente debe dejar sabanas y/o fundas a mano)</li>
                    <li  class="mt-2">Sacudir los muebles y el armario (Solo por fuera)</li>
                    <li  class="mt-2">Eliminación de polvo de manera general y en las esquinas</li>
                    <li  class="mt-2">Limpiar debajo de las camas</li>
                    <li  class="mt-2">Limpiar los espejos</li>
                    <li  class="mt-2">Recolección de residuos</li>
                  </ul>
  
                  <h5 class="mt-5" style="text-align: left; margin-left: 10px;">Cocina y Logia:</h5>
                  <ul style="text-align: left; margin-left: 10px;">
                    <li  class="mt-4">Limpieza de refrigerador (Solo exterior), limpieza a vapor.</li>
                    <li  class="mt-2">Limpieza de horno (Solo exterior), limpieza a vapor.</li>
                    <li  class="mt-2">Limpieza de microondas (Solo exterior), limpieza a vapor.</li>
                    <li  class="mt-2">Limpieza de mesón y muebles (Solo exterior, no incluye muebles en altura)</li>
                    <li  class="mt-2">Limpieza y fregado de suelos, limpieza a vapor</li>
                    <li  class="mt-2">Recolección de residuos (cliente debe proporcionar bolsas de basura)</li>
                  </ul>
  
                  <h5 class="mt-5" style="text-align: left; margin-left: 10px;">Baños:</h5>
                  <ul style="text-align: left; margin-left: 10px;">
                    <li  class="mt-4">Limpieza de WC, Lavamanos y Tina, limpieza a vapor.</li>
                    <li  class="mt-2">Limpieza de muebles de baño (Solo exterior)</li>
                    <li  class="mt-2">Limpieza y desinfección de pisos, limpieza a vapor.</li>
                    <li  class="mt-2">Recolección de residuos</li>
                  </ul>
                  
                  <h5 class="mt-5" style="text-align: left; margin-left: 10px;">Terraza:</h5>
                  <ul style="text-align: left; margin-left: 10px;">
                    <li class="mt-4">Higienización de superficies, limpieza, aspirado y vapor.</li>
                    <li class="mt-2">Eliminación de polvo de manera general y en las esquinas</li>
                    <li class="mt-2">Limpieza de muebles externamente</li>
                    <li class="mt-2">Limpieza debajo de muebles (no se mueven muebles de más de 15kg)</li>
                  </ul>
                  
                  <p style="text-align: left; margin-left: 10px;"><strong>Servicios NO Incluidos:</strong></p>
                  <ul style="text-align: left; margin-left: 10px;">
                    <li class="mt-4">Limpieza de vidrios, ventanales y/o cristales (Incluido Plus y Premium)</li>
                    <li class="mt-2">Limpieza de aparatos electrodomésticos por el interior (Incluido Plus y Premium)</li>
                    <li class="mt-2"> Limpieza de paredes o techos</li>
                    <li class="mt-2"> Limpieza interna de muebles (cocina, sala de estar, habitaciones, etc) (Incluido Plus y Premium)</li>
                    <li class="mt-2">Limpieza de patio, jardín o quincho</li>
                    <li class="mt-2">Limpieza de campana extractora y parrillas (Incluido Premium)</li>
                    <li class="mt-2">Limpieza con dispositivos distintos a una aspiradora</li>
                    <li class="mt-2">Pulido de suelos</li>
                    <li class="mt-2">Traslado de muebles, cajas o aparatos con un peso superior a los 15 kg</li>
                  </ul>
                </div>
  
                <div class="row mt-5">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card" style="border: none;">
                      <div class="card-body text-dark">
                        <h5 class="card-title">Servicio Información</h5>
                        <p class="card-text">Categoría: <span>Limpieza Hogar u Oficina hasta 100 Metros Cuadrados</span></p>
                        <p class="card-text">Duración: <span>4h</span></p> 
                        <p class="card-text">Capacidad: <span>1</span></p> 
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card " style="border: none;">
                      <div class="card-body text-dark">
                        <h5 class="card-title">Especialistas</h5>
                        <p class="card-text"><img src="/img/asistente1.png" style="width: 25px;" alt=""> Especialista Limpieza Light</p>
                      </div>
                    </div>
                  </div>
                </div>
                
          
                
                <div>
                  <div id="horarios-container7"  style="display: none;">
                    <!-- Aquí se mostrarán los horarios disponibles -->
                  </div>
  
                  <table id="calendar7">
                    <caption></caption>
                    <thead>
                      <tr>
                        <th>Lun</th><th>Mar</th><th>Mie</th><th>Jue</th><th>Vie</th><th>Sab</th><th>Dom</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
  
              
                <div class="mt-5 mb-5"></div>
  
              </div>
            </div>
  
            <!-- Repite el mismo patrón para otras tarjetas de servicios -->
        
          </div>
        </div>
        
  
      </div>

  </div>
  
  <!-- Plus -->
  <div class="card card2 m-2">
      <img src="/img/aseo-pr2.png" alt="..." class="rounded-top">
      <div class="am-category-service-color" style="background-color: rgb(23, 136, 251);">
        LP
      </div>
      <div class="card-body">
        <h5 class="card-title text-dark">Limpieza Plus</h5>
        <p class="card-text text-dark" style="opacity: 0.6;">Precio: CLP59.900</p>
        <img src="/img/asistente1.png"  class="rounded" alt="" style="width: 25px;">
        <img src="/img/asistente2.png"  class="rounded" alt="" style="width: 25px;">
      </div>
      <button class="btn w-75 btn-primary btn-ver-mas mb-3 m-auto" onclick="mostrarCaracteristicas('caracteristicas8')">Ver Más</button>

      <div id="caracteristicas8" class="caracteristicas">
        <!-- Contenido de las características de la tarjeta 1 -->
  
        <div class="container mt-5 text-dark">
          <div class="accordion" id="accordionServicios">
            <div class="card">
              <div class="card-header" id="headingLight">
                <img src="/img/aseo-pr2.png" class="rounded" alt="">
                <br>
  
                <button class="btn mt-2 btn-volver text-dark" onclick="ocultarCaracteristicas('caracteristicas8')">
                  <i class="fas fa-arrow-left"></i> Volver  Limpieza Hogar u Oficina hasta 100 Metros Cuadrados
                </button>
                
                <h2 class="mb-0">Limpieza Plus</h2>
                <p>Capacidad: 1 <span style="opacity: 0.4;">|</span> Duración: 5h</p>
                <button class="btn btn-primary" style="padding: 16px 24px; border-radius: 25px; font-size: 25px;">CLP59.900</button>
              </div>
        
              <div id="collapseLight" class="collapse show" aria-labelledby="headingLight" data-parent="#accordionServicios">
                <div class="descripcion-servicio">
                  <h4 class="mt-4" style="font-weight: 600; text-align: left; margin-left: 10px;">Descripción</h4>
                  <p style="text-align: left; margin-left: 10px;">Servicio considerado en aseo en domicilios hasta 100 metros cuadrados, donde no se ha realizado un aseo profundo en aproximadamente un mes.</p>
                  <br>
                  <p style="text-align: left; margin-left: 10px;">Cliente debe entregar set de productos de limpieza, si usted no cuenta con ellos nuestro especialista usará nuestro Kit de Limpieza Básico que consiste en: Cloro, Limpia pisos, Crema limpiadora, Lavaloza, Limpiavidrios, Lustra muebles y paños.</p>
                  <br>
                  <p style="text-align: left; margin-left: 10px;">Limpieza es realizada con máquinas profesionales, aspiradora industrial, máquina de limpieza a vapor y máquina de inyección-extracción. Esto nos permite optimizar nuestros tiempos de trabajo entendiendo que nuestros clientes buscan también optimizar sus tiempos.</p>
                  <br>
                  <p style="text-align: left; margin-left: 10px;">VALOR $59.900</p>
                  <br><br>
                  <p><strong>Servicio de Limpieza Plus consiste en</strong></p>
                  
                  <h5 style="text-align: left; margin-left: 10px;">Living Comedor:</h5>
                  <ul style="text-align: left; margin-left: 10px;">
                    <li class="mt-4">Higienización de superficies limpieza, aspirado y vapor.</li>
                    <li class="mt-2">Eliminación de polvo de manera general y en las esquinas</li>
                    <li class="mt-2">Limpieza de muebles (interior, exterior y reacomodar items, no incluye muebles en altura)</li>
                    <li class="mt-2">Limpieza debajo de muebles (no se mueven muebles de más de 15kg)</li>
                    <li class="mt-2">Desmanchado de espejos</li>
                    <li class="mt-2">Limpieza de vidrios, ventanales y/o cristales</li>
                    <li class="mt-2">Limpieza interna de muebles</li>
                    <li class="mt-2">Desmanchado de espejos</li>
                    <li class="mt-2">Barrido y fregado de suelos, incluye limpieza a vapor.</li>
                    <li class="mt-2">Aspiración de alfombras, con maquinaria industrial.</li>
                    <li class="mt-2">Recolección de residuos</li>
                    
                  </ul>
                  
                  <h5 class="mt-5" style="text-align: left; margin-left: 10px;">Dormitorios:</h5>
                  <ul style="text-align: left; margin-left: 10px;">
                    <li class="mt-4">Hacer las camas (cliente debe dejar sabanas y/o fundas a mano).</li>
                    <li class="mt-2">Sacudir los muebles y el armario (Solo exterior).</li>
                    <li class="mt-2">Limpieza de vidrios, ventanales y/o cristales.</li>
                    <li class="mt-2">Limpieza interna de muebles.</li>
                    <li class="mt-2">Eliminación de polvo de manera general y en las esquinas.</li>
                    <li class="mt-2">Limpiar debajo de las camas.</li>
                    <li class="mt-2">Limpiar los espejos.</li>
                    <li class="mt-2">Recolección de residuos.</li>
                  </ul>
  
                  <h5 class="mt-5" style="text-align: left; margin-left: 10px;">Cocina y Logia:</h5>
                  <ul style="text-align: left; margin-left: 10px;">
                    <li  class="mt-4">Limpieza de refrigerador (Solo exterior), limpieza a vapor.</li>
                    <li  class="mt-2">Limpieza de horno (Solo exterior), limpieza a vapor.</li>
                    <li  class="mt-2">Limpieza de microondas (Solo exterior), limpieza a vapor.</li>
                    <li  class="mt-2">Limpieza de mesón y muebles (interior, exterior y reacomodar items, no incluye muebles en altura), limpieza a vapor.</li>
                    <li  class="mt-2">Limpieza y fregado de suelos, limpieza a vapor.</li>
                    <li  class="mt-2">Recolección de residuos (cliente debe proporcionar bolsas de basura).</li>
                  </ul>
  
                  <h5 class="mt-5" style="text-align: left; margin-left: 10px;">Baños:</h5>
                  <ul style="text-align: left; margin-left: 10px;">
                    <li class="mt-4">Limpieza de WC, Lavamanos y Tina, limpieza a vapor.</li>
                    <li class="mt-2">Limpieza de muebles de baño (exterior, interior y reacomodar items, no incluye muebles en altura).</li>
                    <li class="mt-2">Limpieza y desinfección de pisos, limpieza a vapor.</li>
                    <li class="mt-2">Limpieza de vidrios, ventanales y/o cristales.</li>
                    <li  class="mt-2">Recolección de residuos.</li>
                  </ul>
                  
                  <h5 class="mt-5" style="text-align: left; margin-left: 10px;">Terraza:</h5>
                  <ul style="text-align: left; margin-left: 10px;">
                    <li class="mt-4">Higienización de superficies, limpieza, aspirado y vapor.</li>
                    <li class="mt-2">Eliminación de polvo de manera general y en las esquinas.</li>
                    <li class="mt-2">Limpieza de muebles externamente.</li>
                    <li class="mt-2">Limpieza debajo de muebles (no se mueven muebles de más de 15kg).</li>
                  </ul>
                  
                </div>
  
                <div class="row mt-5">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card" style="border: none;">
                      <div class="card-body text-dark">
                        <h5 class="card-title">Servicio Información</h5>
                        <p class="card-text">Categoría: <span>Limpieza Hogar u Oficina hasta 100 Metros Cuadrados</span></p>
                        <p class="card-text">Duración: <span>5h</span></p> 
                        <p class="card-text">Capacidad: <span>1</span></p> 
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card " style="border: none;">
                      <div class="card-body text-dark">
                        <h5 class="card-title">Especialistas</h5>
                        <p class="card-text"><img src="/img/asistente1.png" style="width: 25px;" alt=""> Especialista Limpieza Plus</p>
                        <p class="card-text"><img src="/img/asistente2.png" style="width: 25px;" alt=""> Especialista Limpieza Plus</p>

                      </div>
                    </div>
                  </div>
                </div>
                
          
                
                <div>
                  <div id="horarios-container8"  style="display: none;">
                    <!-- Aquí se mostrarán los horarios disponibles -->
                  </div>
  
                  <table id="calendar8">
                    <caption></caption>
                    <thead>
                      <tr>
                        <th>Lun</th><th>Mar</th><th>Mie</th><th>Jue</th><th>Vie</th><th>Sab</th><th>Dom</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
  
              
                <div class="mt-5 mb-5"></div>
  
              </div>
            </div>
  
          </div>
        </div>
      </div>
      
  </div>
  
  <!--PREMIUM-->
  <div class="card card2 m-2">
      <img src="/img/aseo-pr3.png" alt="..." class="rounded-top">
      <div class="am-category-service-color" style="background-color: rgb(23, 136, 251);">
        LP
      </div>
      <div class="card-body">
        <h5 class="card-title text-dark">Limpieza Premium</h5>
        <p class="card-text text-dark" style="opacity: 0.6;">Precio: CLP74.900</p>
        <img src="/img/asistente1.png" class="rounded" alt="" style="width: 25px;">
        <img src="/img/asistente2.png" class="rounded" alt="" style="width: 25px;">
      </div>
      <button class="btn w-75 btn-primary mb-3 btn-ver-mas m-auto" onclick="mostrarCaracteristicas('caracteristicas9')">Ver Más</button>
     
      <div id="caracteristicas9" class="caracteristicas">
        <!-- Contenido de las características de la tarjeta 1 -->
  
        <div class="container mt-5 text-dark">
          <div class="accordion" id="accordionServicios">
            <div class="card">
              <div class="card-header" id="headingLight">
                <img src="/img/aseo-pr3.png" class="rounded" alt="">
                <br>
  
                <button class="btn mt-2 btn-volver text-dark" onclick="ocultarCaracteristicas('caracteristicas9')">
                  <i class="fas fa-arrow-left"></i> Volver  Limpieza Hogar u Oficina hasta 100 Metros Cuadrados
                </button>
                
                <h2 class="mb-0">Limpieza Premium</h2>
                <p>Capacidad: 1 <span style="opacity: 0.4;">|</span> Duración: 6h</p>
                <button class="btn btn-primary" style="padding: 16px 24px; border-radius: 25px; font-size: 25px;">CLP74.900</button>
              </div>
        
              <div id="collapseLight" class="collapse show" aria-labelledby="headingLight" data-parent="#accordionServicios">
                <div class="descripcion-servicio">
                  <h4 class="mt-4" style="font-weight: 600; text-align: left; margin-left: 10px;">Descripción</h4>
                  <p style="text-align: left; margin-left: 10px;">Servicio considerado en aseo en domicilios hasta 100 metros cuadrados, donde no se ha realizado un aseo profundo en mas de un mes, o se requiere servicio pre o post mudanza, para exhibiciones y/o venta.</p>
                  <br>
                  <p style="text-align: left; margin-left: 10px;">Limpieza es realizada con máquinas profesionales, aspiradora industrial, máquina de limpieza a vapor y máquina de inyección-extracción.</p>
                  <br>
                  <p style="text-align: left; margin-left: 10px;">En el caso de que tu domicilio no este habitado y algún ítem no aplique, podemos acordar algunos cambios previa visita con tu especialista. Podemos acordar enfoques personalizados en áreas complejas, somos muy flexibles con nuestros clientes y trabajar en equipo es nuestra misión.</p>
                  <br>
                  <p style="text-align: left; margin-left: 10px;">VALOR $74.900</p>
                  <br><br>
                  <p><strong>Servicio de Limpieza Premium consiste en</strong></p>
                  
                  <h5 style="text-align: left; margin-left: 10px;">Living Comedor:</h5>
                  <ul style="text-align: left; margin-left: 10px;">
                    <li class="mt-4">Higienización de superficies limpieza, aspirado y vapor.</li>
                    <li class="mt-2">Eliminación de polvo de manera general y en las esquinas</li>
                    <li class="mt-2">Limpieza de muebles (interior, exterior y reacomodar items, no incluye muebles en altura)</li>
                    <li class="mt-2">Limpieza debajo de muebles (no se mueven muebles de más de 15kg)</li>
                    <li class="mt-2">Desmanchado de espejos</li>
                    <li class="mt-2">Limpieza de vidrios, ventanales y/o cristales</li>
                    <li class="mt-2">Limpieza interna de muebles</li>
                    <li class="mt-2">Barrido y fregado de suelos, incluye limpieza a vapor.</li>
                    <li class="mt-2">Aspiración de alfombras.</li>
                    <li class="mt-2">Recolección de residuos.</li>
                    
                  </ul>
                  
                  <h5 class="mt-5" style="text-align: left; margin-left: 10px;">Dormitorios:</h5>
                  <ul style="text-align: left; margin-left: 10px;">
                    <li class="mt-4">Hacer las camas (cliente debe dejar sabanas y/o fundas a mano)</li>
                    <li class="mt-2">Sacudir los muebles y el armario (Solo exterior)</li>
                    <li class="mt-2">Limpieza de vidrios, ventanales y/o cristales</li>
                    <li class="mt-2">Limpieza interna de muebles</li>
                    <li class="mt-2">Eliminación de polvo de manera general y en las esquinas</li>
                    <li class="mt-2">Limpieza debajo de las camas</li>
                    <li class="mt-2">Limpiar los espejos</li>
                    <li class="mt-2">Recolección de residuos</li>
                  </ul>
  
                  <h5 class="mt-5" style="text-align: left; margin-left: 10px;">Cocina y Logia:</h5>
                  <ul style="text-align: left; margin-left: 10px;">
                    <li class="mt-4">Limpieza de refrigerador (Solo exterior), limpieza a vapor.</li>
                    <li class="mt-2">Limpieza de horno (interior y exterior), limpieza a vapor.</li>
                    <li class="mt-2">Limpieza de microondas (interior y exterior), limpieza a vapor.</li>
                    <li class="mt-2">Limpieza interior y exterior de otros electrodomésticos (juguera, saca jugo, freidora de aire, etc), limpieza a vapor.</li>
                    <li class="mt-2">Limpieza de campana extractora y parrillas, limpieza a vapor.</li>
                    <li class="mt-2">Limpieza de mesón y muebles (interior, exterior y reacomodar items, no incluye muebles en altura).</li>
                    <li class="mt-2">Limpieza y fregado de suelos, limpieza a vapor.</li>
                    <li class="mt-2">Recolección de residuos</li>
                  </ul>
  
                  <h5 class="mt-5" style="text-align: left; margin-left: 10px;">Baños:</h5>
                  <ul style="text-align: left; margin-left: 10px;">
                    <li class="mt-4">Limpieza de WC, Lavamanos y Tina, limpieza a vapor.</li>
                    <li class="mt-2">Limpieza de muebles de baño (exterior, interior y reacomodar items, no incluye muebles en altura)</li>
                    <li class="mt-2">Limpieza y desinfección de pisos, limpieza a vapor.</li>
                    <li class="mt-2">Eliminación de hongos en baño, limpieza a vapor.</li>
                    <li class="mt-2">Eliminación de óxido en baño, limpieza a vapor.</li>
                    <li class="mt-2">Limpieza de vidrios, ventanales y/o cristales</li>
                    <li class="mt-2">Recolección de residuos</li>
                  </ul>
                  
                  <h5 class="mt-5" style="text-align: left; margin-left: 10px;">Terraza:</h5>
                  <ul style="text-align: left; margin-left: 10px;">
                    <li class="mt-4">Higienización de superficies, limpieza, aspirado y vapor.</li>
                    <li class="mt-2">Eliminación de polvo de manera general y en las esquinas</li>
                    <li class="mt-2">Limpieza de muebles externamente</li>
                    <li class="mt-2">Limpieza debajo de muebles (no se mueven muebles de más de 15kg)</li>
                  </ul>
                  
                </div>
  
                <div class="row mt-5">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card" style="border: none;">
                      <div class="card-body text-dark">
                        <h5 class="card-title">Servicio Información</h5>
                        <p class="card-text">Categoría: <span>Limpieza Hogar u Oficina hasta 100 Metros Cuadrados</span></p>
                        <p class="card-text">Duración: <span>6h</span></p> 
                        <p class="card-text">Capacidad: <span>1</span></p> 
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card " style="border: none;">
                      <div class="card-body text-dark">
                        <h5 class="card-title">Especialistas</h5>
                        <p class="card-text"><img src="/img/asistente1.png" style="width: 25px;" alt=""> Especialista Limpieza P...</p>
                        <p class="card-text"><img src="/img/asistente2.png" style="width: 25px;" alt=""> Especialista Limpieza P...</p>

                      </div>
                    </div>
                  </div>
                </div>
                
          
                
                <div>
                  <div id="horarios-container9"  style="display: none;">
                    <!-- Aquí se mostrarán los horarios disponibles -->
                  </div>
  
                  <table id="calendar9">
                    <caption></caption>
                    <thead>
                      <tr>
                        <th>Lun</th><th>Mar</th><th>Mie</th><th>Jue</th><th>Vie</th><th>Sab</th><th>Dom</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
  
              
                <div class="mt-5 mb-5"></div>
  
              </div>
            </div>
  
          </div>
        </div>
      </div>

  </div>
  
</div>

<script>    
    // Calendario 
    // Light 70
    var actual=new Date();
    function mostrarCalendario7(year, month) {
      var now = new Date(year, month - 1, 1);
      var last = new Date(year, month, 0);
      var primerDiaSemana = now.getDay() === 0 ? 7 : now.getDay();
      var ultimoDiaMes = last.getDate();
      var dia = 1; // Corregir el valor inicial de 'dia'
      var resultado = "<tr bgcolor='silver'>";
      var diaActual = 0;
    
      var last_cell = primerDiaSemana + ultimoDiaMes;
    
      // Bucle para crear las celdas del calendario
      for (var i = 1; i <= 42; i++) {
        if (i < primerDiaSemana || i >= last_cell) {
          // Celda vacía
          resultado += "<td>&nbsp;</td>";
        } else {
          // Mostrar el día
          if (dia == actual.getDate() && month == actual.getMonth() + 1 && year == actual.getFullYear())
            resultado += "<td onclick='mostrarHorarios7(" + year + "," + month + "," + dia + ")' class='hoy'>" + dia + "</td>";
          else if (year < actual.getFullYear() || (year === actual.getFullYear() && month < actual.getMonth() + 1) || (year === actual.getFullYear() && month === actual.getMonth() + 1 && dia < actual.getDate()))
            resultado += "<td class='anterior'>" + dia + "</td>"; // Agregar clase 'anterior' para tachar la fecha
          else
            resultado += "<td style='cursor:pointer;' onclick='mostrarHorarios7(" + year + "," + month + "," + dia + ")'>" + dia + "</td>";
    
          dia++;
        }
        if (i % 7 === 0) {
          if (dia > ultimoDiaMes)
            break;
          resultado += "</tr><tr>\n";
        }
      }
      resultado += "</tr>";
     
        var meses=Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
     
        // Calculamos el siguiente mes y año
        nextMonth=month+1;
        nextYear=year;
        if(month+1>12)
        {
            nextMonth=1;
            nextYear=year+1;
        }
     
        // Calculamos el anterior mes y año
        prevMonth=month-1;
        prevYear=year;
        if(month-1<1)
        {
            prevMonth=12;
            prevYear=year-1;
        }
     
        document.getElementById("calendar7").getElementsByTagName("caption")[0].innerHTML="<div class='text-center'><a onclick='mostrarCalendario7("+prevYear+","+prevMonth+")'><i class='fa-solid fa-arrow-right fa-rotate-180'></i></a>   "+meses[month-1]+" / "+year+"   <a onclick='mostrarCalendario7("+nextYear+","+nextMonth+")'><i class='fa-solid fa-arrow-right'></i></a></div>";
        document.getElementById("calendar7").getElementsByTagName("tbody")[0].innerHTML=resultado;
    }
    
    function mostrarHorarios7(year, month, day) {
      var horariosContainer = document.getElementById("horarios-container7");
      var horariosHTML = "";
    
      // Obtén la fecha actual
      var currentDate = new Date();
      var currentYear = currentDate.getFullYear();
      var currentMonth = currentDate.getMonth() + 1; // Los meses en JavaScript van de 0 a 11
      var currentDay = currentDate.getDate();
    
      if (year < currentYear || (year === currentYear && month < currentMonth) || (year === currentYear && month === currentMonth && day < currentDay)) {
        // Si la fecha es anterior, borra el contenido del contenedor y ocúltalo
        horariosContainer.innerHTML = "";
        horariosContainer.style.display = "none";
      } else {
        // Si la fecha es actual o futura, muestra los horarios disponibles
        if (currentDay == day) {

          var selectedDate = new Date(year, month - 1, day);
          var selectedDay = selectedDate.getDay(); // 0 representa domingo, 1 lunes, etc.

          if (selectedDay === 0) {
            horariosHTML = "<h3 class='mt-4 mb-5'>No se encuentran horarios disponibles para hoy domingo.</h3>";
            horariosContainer.innerHTML = horariosHTML;
            horariosContainer.style.display = "block";
            return;
          }

      horariosHTML += "<h3 class='mt-4'>Horarios disponibles para " + day + "/" + month + "/" + year + ":</h3>" +
                      "<form id='horario-form' onsubmit='return validarHorario();' action='/agendar' method='post'>" +
                      "<ul class='mt-4' style='list-style: none;'>";
    
      var horarios = [
        { label: "09:00 AM - 13:00 PM", value: '09:00' },
        { label: "14:00 PM - 18:00 PM", value: '14:00' },
      ];
    
      var currentHour = currentDate.getHours();
      var currentMinutes = currentDate.getMinutes();
      var horarioDisponible = false;
    
      for (var i = 0; i < horarios.length; i++) {
        var horario = horarios[i];
        
        var horarioParts = horario.value.split(':');
        var horarioHour = parseInt(horarioParts[0]);
        var horarioMinutes = parseInt(horarioParts[1]);
    
        var horarioTotalMinutes = horarioHour * 60 + horarioMinutes;
        var currentTotalMinutes = currentHour * 60 + currentMinutes;
    
        if (currentTotalMinutes <= horarioTotalMinutes) {
          horariosHTML += "<li><input type='radio' name='horario' value='" + horario.label + "'>" + horario.label + "</li>";
          horarioDisponible = true; // Se encontró un horario disponible
        }
      }
    
      if (horarioDisponible) {
        horariosHTML += '<input style="display: none;" type="text" value="100" name="tamano" required>';
        horariosHTML += '<input type="text" value="light" name="tipo" style="display: none;" required>' ;
        horariosHTML += '<input style="display: none;" type="text" value="'+ day + "/" + month + "/" + year +'" name="fecha" required>';
        horariosHTML += "<button class='btn btn-primary mt-2 mb-3' type='submit'>Continuar</button>";
      }
    
      horariosHTML += "</ul></form>";
    
    
    }else {
            horariosHTML =
            "<h3 class='mt-4'>Horarios disponibles para " + day + "/" + month + "/" + year + ":</h3>" +
            "<form id='horario-form' onsubmit='return validarHorario();' action='/agendar' method='post' >" +
            "<ul class='mt-4' style='list-style: none;'>" +
    
            "<li><input type='radio' name='horario' value='09:00 AM - 13:00 PM'> 09:00 AM - 13:00 PM</li>" +
            "<li><input type='radio' name='horario' value='14:00 PM - 18:00 PM'> 14:00 PM - 18:00 PM</li>" +
     
            "</ul>" +
            '<input type="text" value="light" name="tipo" style="display: none;" required>' +
            '<input type="text" value="100" name="tamano" style="display: none;" required>' +
            '<input type="text" style="display: none;" value="'+ day + "/" + month + "/" + year +'" name="fecha" required>' +
            "<button class='btn btn-primary mt-2 mb-3' type='submit'>Continuar</button>" +
            "</form>";
          }
    
        horariosContainer.innerHTML = horariosHTML;
        horariosContainer.style.display = "block";
      }
    }
    
    mostrarCalendario7(actual.getFullYear(),actual.getMonth()+1);

    // Plus 70
    function mostrarCalendario8(year, month) {
      var now = new Date(year, month - 1, 1);
      var last = new Date(year, month, 0);
      var primerDiaSemana = now.getDay() === 0 ? 7 : now.getDay();
      var ultimoDiaMes = last.getDate();
      var dia = 1; // Corregir el valor inicial de 'dia'
      var resultado = "<tr bgcolor='silver'>";
      var diaActual = 0;
    
      var last_cell = primerDiaSemana + ultimoDiaMes;
    
      // Bucle para crear las celdas del calendario
      for (var i = 1; i <= 42; i++) {
        if (i < primerDiaSemana || i >= last_cell) {
          // Celda vacía
          resultado += "<td>&nbsp;</td>";
        } else {
          // Mostrar el día
          if (dia == actual.getDate() && month == actual.getMonth() + 1 && year == actual.getFullYear())
            resultado += "<td onclick='mostrarHorarios8(" + year + "," + month + "," + dia + ")' class='hoy'>" + dia + "</td>";
          else if (year < actual.getFullYear() || (year === actual.getFullYear() && month < actual.getMonth() + 1) || (year === actual.getFullYear() && month === actual.getMonth() + 1 && dia < actual.getDate()))
            resultado += "<td class='anterior'>" + dia + "</td>"; // Agregar clase 'anterior' para tachar la fecha
          else
            resultado += "<td style='cursor:pointer;' onclick='mostrarHorarios8(" + year + "," + month + "," + dia + ")'>" + dia + "</td>";
    
          dia++;
        }
        if (i % 7 === 0) {
          if (dia > ultimoDiaMes)
            break;
          resultado += "</tr><tr>\n";
        }
      }
      resultado += "</tr>";
     
        var meses=Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
     
        // Calculamos el siguiente mes y año
        nextMonth=month+1;
        nextYear=year;
        if(month+1>12)
        {
            nextMonth=1;
            nextYear=year+1;
        }
     
        // Calculamos el anterior mes y año
        prevMonth=month-1;
        prevYear=year;
        if(month-1<1)
        {
            prevMonth=12;
            prevYear=year-1;
        }
     
        document.getElementById("calendar8").getElementsByTagName("caption")[0].innerHTML="<div class='text-center'><a onclick='mostrarCalendario8("+prevYear+","+prevMonth+")'><i class='fa-solid fa-arrow-right fa-rotate-180'></i></a>   "+meses[month-1]+" / "+year+"   <a onclick='mostrarCalendario8("+nextYear+","+nextMonth+")'><i class='fa-solid fa-arrow-right'></i></a></div>";
        document.getElementById("calendar8").getElementsByTagName("tbody")[0].innerHTML=resultado;
    }
    
    function mostrarHorarios8(year, month, day) {
      var horariosContainer = document.getElementById("horarios-container8");
      var horariosHTML = "";
    
      // Obtén la fecha actual
      var currentDate = new Date();
      var currentYear = currentDate.getFullYear();
      var currentMonth = currentDate.getMonth() + 1; // Los meses en JavaScript van de 0 a 11
      var currentDay = currentDate.getDate();
    
      if (year < currentYear || (year === currentYear && month < currentMonth) || (year === currentYear && month === currentMonth && day < currentDay)) {
        // Si la fecha es anterior, borra el contenido del contenedor y ocúltalo
        horariosContainer.innerHTML = "";
        horariosContainer.style.display = "none";
      } else {
        // Si la fecha es actual o futura, muestra los horarios disponibles
        if (currentDay == day) {

          var selectedDate = new Date(year, month - 1, day);
          var selectedDay = selectedDate.getDay(); // 0 representa domingo, 1 lunes, etc.

          if (selectedDay === 0) {
            horariosHTML = "<h3 class='mt-4 mb-5'>No se encuentran horarios disponibles para hoy domingo.</h3>";
            horariosContainer.innerHTML = horariosHTML;
            horariosContainer.style.display = "block";
            return;
          }

      horariosHTML += "<h3 class='mt-4'>Horarios disponibles para " + day + "/" + month + "/" + year + ":</h3>" +
                      "<form id='horario-form' onsubmit='return validarHorario();' action='/agendar' method='post'>" +
                      "<ul class='mt-4' style='list-style: none;'>";
    
      var horarios = [
        { label: "09:00 AM - 14:00 PM", value: '09:00' },
        { label: "09:15 AM - 14:15 PM", value: '09:15' },
        { label: "09:30 AM - 14:30 PM", value: '09:30' },
        { label: "09:45 AM - 14:45 PM", value: '09:45' },
        { label: "10:00 AM - 15:00 PM", value: '10:00' },
        { label: "10:15 AM - 15:15 PM", value: '10:15' },
        { label: "10:30 AM - 15:30 PM", value: '10:30' },
        { label: "10:45 AM - 15:45 PM", value: '10:45' },
        { label: "11:00 AM - 16:00 PM", value: '11:00' },
        { label: "11:15 AM - 16:15 PM", value: '11:15' },
        { label: "11:30 AM - 16:30 PM", value: '11:30' },
        { label: "11:45 AM - 16:45 PM", value: '11:45' },
        { label: "12:00 PM - 17:00 PM", value: '12:00' },
        { label: "12:15 PM - 17:15 PM", value: '12:15' },
        { label: "12:30 PM - 17:30 PM", value: '12:30' },
        { label: "12:45 PM - 17:45 PM", value: '12:45' },
        { label: "13:00 PM - 18:00 PM", value: '13:00' },
      ];
    
      var currentHour = currentDate.getHours();
      var currentMinutes = currentDate.getMinutes();
      var horarioDisponible = false;
    
      for (var i = 0; i < horarios.length; i++) {
        var horario = horarios[i];
        
        var horarioParts = horario.value.split(':');
        var horarioHour = parseInt(horarioParts[0]);
        var horarioMinutes = parseInt(horarioParts[1]);
    
        var horarioTotalMinutes = horarioHour * 60 + horarioMinutes;
        var currentTotalMinutes = currentHour * 60 + currentMinutes;
    
        if (currentTotalMinutes <= horarioTotalMinutes) {
          horariosHTML += "<li><input type='radio' name='horario' value='" + horario.label + "'>" + horario.label + "</li>";
          horarioDisponible = true; // Se encontró un horario disponible
        }
      }
    
      if (horarioDisponible) {
        horariosHTML += '<input type="text" value="Plus" name="tipo" style="display: none;" required>';
        horariosHTML += '<input style="display: none;" type="text" value="100" name="tamano" required>';
        horariosHTML += '<input style="display: none;" type="text" value="'+ day + "/" + month + "/" + year +'" name="fecha" required>';
        horariosHTML += "<button class='btn btn-primary mt-2 mb-3' type='submit'>Continuar</button>";
      }
    
      horariosHTML += "</ul></form>";
    
    
    }else {
            horariosHTML =
            "<h3 class='mt-4'>Horarios disponibles para " + day + "/" + month + "/" + year + ":</h3>" +
            "<form id='horario-form' onsubmit='return validarHorario();' action='/agendar' method='post' >" +
            "<ul class='mt-4' style='list-style: none;'>" +
    
            "<li><input type='radio' name='horario' value='09:00 AM - 14:00 PM'> 09:00 AM - 14:00 PM</li>" +
            "<li><input type='radio' name='horario' value='09:15 AM - 14:15 PM'> 09:15 AM - 14:15 PM</li>" +
            "<li><input type='radio' name='horario' value='09:30 AM - 14:30 PM'> 09:30 AM - 14:30 PM</li>" +
            "<li><input type='radio' name='horario' value='09:45 AM - 14:45 PM'> 09:45 AM - 14:45 PM</li>" +
            "<li><input type='radio' name='horario' value='10:00 AM - 15:00 PM'> 10:00 AM - 15:00 PM</li>" +
            "<li><input type='radio' name='horario' value='10:15 AM - 15:15 PM'> 10:15 AM - 15:15 PM</li>" +
            "<li><input type='radio' name='horario' value='10:30 AM - 15:30 PM'> 10:30 AM - 15:30 PM</li>" +
            "<li><input type='radio' name='horario' value='10:45 AM - 15:45 PM'> 10:45 AM - 15:45 PM</li>" +
            "<li><input type='radio' name='horario' value='11:00 AM - 16:00 PM'> 11:00 AM - 16:00 PM</li>" +
            "<li><input type='radio' name='horario' value='11:15 AM - 16:15 PM'> 11:15 AM - 16:15 PM</li>" +
            "<li><input type='radio' name='horario' value='11:30 AM - 16:30 PM'> 11:30 AM - 16:30 PM</li>" +
            "<li><input type='radio' name='horario' value='11:45 AM - 16:45 PM'> 11:45 AM - 16:45 PM</li>" +
            "<li><input type='radio' name='horario' value='12:00 PM - 17:00 PM'> 12:00 PM - 17:00 PM</li>" +
            "<li><input type='radio' name='horario' value='12:15 PM - 17:15 PM'> 12:15 PM - 17:15 PM</li>" +
            "<li><input type='radio' name='horario' value='12:30 PM - 17:30 PM'> 12:30 PM - 17:30 PM</li>" +
            "<li><input type='radio' name='horario' value='12:45 PM - 17:45 PM'> 12:45 PM - 17:45 PM</li>" +
            "<li><input type='radio' name='horario' value='13:00 PM - 18:00 PM'> 13:00 PM - 18:00 PM</li>" +

            "</ul>" +
            '<input type="text" value="Plus" name="tipo" style="display: none;" required>' +
            '<input type="text" value="100" name="tamano" style="display: none;" required>' +
            '<input type="text" style="display: none;" value="'+ day + "/" + month + "/" + year +'" name="fecha" required>' +
            "<button class='btn btn-primary mt-2 mb-3' type='submit'>Continuar</button>" +
            "</form>";
          }
    
        horariosContainer.innerHTML = horariosHTML;
        horariosContainer.style.display = "block";
      }
    }
    mostrarCalendario8(actual.getFullYear(),actual.getMonth()+1);
    
    /* Premium */
    function mostrarCalendario9(year, month) {
      var now = new Date(year, month - 1, 1);
      var last = new Date(year, month, 0);
      var primerDiaSemana = now.getDay() === 0 ? 7 : now.getDay();
      var ultimoDiaMes = last.getDate();
      var dia = 1; // Corregir el valor inicial de 'dia'
      var resultado = "<tr bgcolor='silver'>";
      var diaActual = 0;
    
      var last_cell = primerDiaSemana + ultimoDiaMes;
    
      // Bucle para crear las celdas del calendario
      for (var i = 1; i <= 42; i++) {
        if (i < primerDiaSemana || i >= last_cell) {
          // Celda vacía
          resultado += "<td>&nbsp;</td>";
        } else {
          // Mostrar el día
          if (dia == actual.getDate() && month == actual.getMonth() + 1 && year == actual.getFullYear())
            resultado += "<td onclick='mostrarHorarios9(" + year + "," + month + "," + dia + ")' class='hoy'>" + dia + "</td>";
          else if (year < actual.getFullYear() || (year === actual.getFullYear() && month < actual.getMonth() + 1) || (year === actual.getFullYear() && month === actual.getMonth() + 1 && dia < actual.getDate()))
            resultado += "<td class='anterior'>" + dia + "</td>"; // Agregar clase 'anterior' para tachar la fecha
          else
            resultado += "<td style='cursor:pointer;' onclick='mostrarHorarios9(" + year + "," + month + "," + dia + ")'>" + dia + "</td>";
    
          dia++;
        }
        if (i % 7 === 0) {
          if (dia > ultimoDiaMes)
            break;
          resultado += "</tr><tr>\n";
        }
      }
      resultado += "</tr>";
     
        var meses=Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
     
        // Calculamos el siguiente mes y año
        nextMonth=month+1;
        nextYear=year;
        if(month+1>12)
        {
            nextMonth=1;
            nextYear=year+1;
        }
     
        // Calculamos el anterior mes y año
        prevMonth=month-1;
        prevYear=year;
        if(month-1<1)
        {
            prevMonth=12;
            prevYear=year-1;
        }
     
        document.getElementById("calendar9").getElementsByTagName("caption")[0].innerHTML="<div class='text-center'><a onclick='mostrarCalendario9("+prevYear+","+prevMonth+")'><i class='fa-solid fa-arrow-right fa-rotate-180'></i></a>   "+meses[month-1]+" / "+year+"   <a onclick='mostrarCalendario9("+nextYear+","+nextMonth+")'><i class='fa-solid fa-arrow-right'></i></a></div>";
        document.getElementById("calendar9").getElementsByTagName("tbody")[0].innerHTML=resultado;
    }
    
    function mostrarHorarios9(year, month, day) {
      var horariosContainer = document.getElementById("horarios-container9");
      var horariosHTML = "";
    
      // Obtén la fecha actual
      var currentDate = new Date();
      var currentYear = currentDate.getFullYear();
      var currentMonth = currentDate.getMonth() + 1; // Los meses en JavaScript van de 0 a 11
      var currentDay = currentDate.getDate();
    
      if (year < currentYear || (year === currentYear && month < currentMonth) || (year === currentYear && month === currentMonth && day < currentDay)) {
        // Si la fecha es anterior, borra el contenido del contenedor y ocúltalo
        horariosContainer.innerHTML = "";
        horariosContainer.style.display = "none";
      } else {
        // Si la fecha es actual o futura, muestra los horarios disponibles
        if (currentDay == day) {

          var selectedDate = new Date(year, month - 1, day);
          var selectedDay = selectedDate.getDay(); // 0 representa domingo, 1 lunes, etc.

          if (selectedDay === 0) {
            horariosHTML = "<h3 class='mt-4 mb-5'>No se encuentran horarios disponibles para hoy domingo.</h3>";
            horariosContainer.innerHTML = horariosHTML;
            horariosContainer.style.display = "block";
            return;
          }
          
      horariosHTML += "<h3 class='mt-4'>Horarios disponibles para " + day + "/" + month + "/" + year + ":</h3>" +
                      "<form id='horario-form' onsubmit='return validarHorario();' action='/agendar' method='post'>" +
                      "<ul class='mt-4' style='list-style: none;'>";
    
      var horarios = [
        { label: "09:00 AM - 15:00 PM", value: '09:00' },
        { label: "09:15 AM - 15:15 PM", value: '09:15' },
        { label: "09:30 AM - 15:30 PM", value: '09:30' },
        { label: "09:45 AM - 15:45 PM", value: '09:45' },
        { label: "10:00 AM - 16:00 PM", value: '10:00' },
        { label: "10:15 AM - 16:15 PM", value: '10:15' },
        { label: "10:30 AM - 16:30 PM", value: '10:30' },
        { label: "10:45 AM - 16:45 PM", value: '10:45' },
        { label: "11:00 AM - 17:00 PM", value: '11:00' },
        { label: "11:15 AM - 17:15 PM", value: '11:15' },
        { label: "11:30 AM - 17:30 PM", value: '11:30' },
        { label: "11:45 AM - 17:45 PM", value: '11:45' },
        { label: "12:00 PM - 18:00 PM", value: '12:00' },
      ];
    
      var currentHour = currentDate.getHours();
      var currentMinutes = currentDate.getMinutes();
      var horarioDisponible = false;
    
      for (var i = 0; i < horarios.length; i++) {
        var horario = horarios[i];
        
        var horarioParts = horario.value.split(':');
        var horarioHour = parseInt(horarioParts[0]);
        var horarioMinutes = parseInt(horarioParts[1]);
    
        var horarioTotalMinutes = horarioHour * 60 + horarioMinutes;
        var currentTotalMinutes = currentHour * 60 + currentMinutes;
    
        if (currentTotalMinutes <= horarioTotalMinutes) {
          horariosHTML += "<li><input type='radio' name='horario' value='" + horario.label + "'>" + horario.label + "</li>";
          horarioDisponible = true; // Se encontró un horario disponible
        }
      }
    
      if (horarioDisponible) {
        horariosHTML += '<input type="text" value="Premium" name="tipo" style="display: none;" required>';
        horariosHTML += '<input style="display: none;" type="text" value="100" name="tamano" required>';
        horariosHTML += '<input style="display: none;" type="text" value="'+ day + "/" + month + "/" + year +'" name="fecha" required>';
        horariosHTML += "<button class='btn btn-primary mt-2 mb-3' type='submit'>Continuar</button>";
      }
    
      horariosHTML += "</ul></form>";
    
    
    }else {
            horariosHTML =
            "<h3 class='mt-4'>Horarios disponibles para " + day + "/" + month + "/" + year + ":</h3>" +
            "<form id='horario-form' onsubmit='return validarHorario();' action='/agendar' method='post' >" +
            "<ul class='mt-4' style='list-style: none;'>" +
    
            "<li><input type='radio' name='horario' value='09:00 AM - 15:00 PM'> 09:00 AM - 15:00 PM</li>" +
            "<li><input type='radio' name='horario' value='09:15 AM - 15:15 PM'> 09:15 AM - 15:15 PM</li>" +
            "<li><input type='radio' name='horario' value='09:30 AM - 15:30 PM'> 09:30 AM - 15:30 PM</li>" +
            "<li><input type='radio' name='horario' value='09:45 AM - 15:45 PM'> 09:45 AM - 15:45 PM</li>" +
            "<li><input type='radio' name='horario' value='10:00 AM - 16:00 PM'> 10:00 AM - 16:00 PM</li>" +
            "<li><input type='radio' name='horario' value='10:15 AM - 16:15 PM'> 10:15 AM - 16:15 PM</li>" +
            "<li><input type='radio' name='horario' value='10:30 AM - 16:30 PM'> 10:30 AM - 16:30 PM</li>" +
            "<li><input type='radio' name='horario' value='10:45 AM - 16:45 PM'> 10:45 AM - 16:45 PM</li>" +
            "<li><input type='radio' name='horario' value='11:00 AM - 17:00 PM'> 11:00 AM - 17:00 PM</li>" +
            "<li><input type='radio' name='horario' value='11:15 AM - 17:15 PM'> 11:15 AM - 17:15 PM</li>" +
            "<li><input type='radio' name='horario' value='11:30 AM - 17:30 PM'> 11:30 AM - 17:30 PM</li>" +
            "<li><input type='radio' name='horario' value='11:45 AM - 17:45 PM'> 11:45 AM - 17:45 PM</li>" +
            "<li><input type='radio' name='horario' value='12:00 PM - 18:00 PM'> 12:00 PM - 18:00 PM</li>" +
    
            "</ul>" +
            '<input type="text" value="Premium" name="tipo" style="display: none;" required>' +
            '<input type="text" value="100" name="tamano" style="display: none;" required>' +
            '<input type="text" style="display: none;" value="'+ day + "/" + month + "/" + year +'" name="fecha" required>' +
            "<button class='btn btn-primary mt-2 mb-3' type='submit'>Continuar</button>" +
            "</form>";
          }
    
        horariosContainer.innerHTML = horariosHTML;
        horariosContainer.style.display = "block";
      }
    }
    mostrarCalendario9(actual.getFullYear(),actual.getMonth()+1);
    
    </script>

<style>
    /* Light */
    /* Calendar */
#calendar7 {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: auto;
  width: 80%;
  border-collapse: collapse; /* Mejora el aspecto de la tabla */
}

#calendar7 caption {
  caption-side: top;
  text-align: center; /* Centra el texto del caption */
  padding: 10px 0; /* Aumenta el espaciado */
  background-color: rgb(50, 142, 217);
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

  #calendar7 th {
  background-color: rgb(50, 142, 217);
  color: #fff;
  padding: 10px 5px; /* Aumenta el espaciado */
  font-weight: normal; /* Elimina negrita para los días de la semana */
}

#calendar7 td {
  text-align: center; /* Centra el contenido */
  padding: 5px;
  background-color: white;
  border: 1px solid rgb(50, 142, 217); /* Agrega bordes a las celdas */
}

#calendar7 .hoy {
  background-color: rgb(25, 231, 114);
  color: white; 
  cursor: pointer;
}

      /* Plus*/
        #calendar8 {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: auto;
  width: 80%;
  border-collapse: collapse; /* Mejora el aspecto de la tabla */
}

#calendar8 caption {
  caption-side: top;
  text-align: center; /* Centra el texto del caption */
  padding: 10px 0; /* Aumenta el espaciado */
  background-color: rgb(50, 142, 217);
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

  #calendar8 th {
  background-color: rgb(50, 142, 217);
  color: #fff;
  padding: 10px 5px; /* Aumenta el espaciado */
  font-weight: normal; /* Elimina negrita para los días de la semana */
}

#calendar8 td {
  text-align: center; /* Centra el contenido */
  padding: 5px;
  background-color: white;
  border: 1px solid rgb(50, 142, 217); /* Agrega bordes a las celdas */
}

#calendar8 .hoy {
  background-color: rgb(25, 231, 114);
  color: white; 
  cursor: pointer;
}

.anterior {
  text-decoration: line-through;
  color: gray;
}

/* Premium */
#calendar9 {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: auto;
  width: 80%;
  border-collapse: collapse; /* Mejora el aspecto de la tabla */
}

#calendar9 caption {
  caption-side: top;
  text-align: center; /* Centra el texto del caption */
  padding: 10px 0; /* Aumenta el espaciado */
  background-color: rgb(50, 142, 217);
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

  #calendar9 th {
  background-color: rgb(50, 142, 217);
  color: #fff;
  padding: 10px 5px; /* Aumenta el espaciado */
  font-weight: normal; /* Elimina negrita para los días de la semana */
}

#calendar9 td {
  text-align: center; /* Centra el contenido */
  padding: 5px;
  background-color: white;
  border: 1px solid rgb(50, 142, 217); /* Agrega bordes a las celdas */
}

#calendar9 .hoy {
  background-color: rgb(25, 231, 114);
  color: white; 
  cursor: pointer;
}
    </style>