<footer>

    <div class="row row-cols-1 mt-5 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100" style="background-color: #121212;">
            <div class="card-body">
              <h5 class="card-title">SOBRE NOSOTROS</h5>
              <div>
              <p class="card-text">En el arte de la limpieza y mantenimiento, somos expertos en elevar tu hogar a la perfección.
                 Con un equipo altamente calificado, garantizamos resultados excepcionales en cada rincón. 
                 Supervisamos meticulosamente cada trabajo, presencial o a distancia, para asegurar un brillo 
                 impecable en cada detalle. Tu satisfacción es nuestra firma, respaldando cada proyecto culminado. 
                 Bienvenido al mundo Premium de la limpieza, donde la excelencia es la norma.</p>
                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100" style="background-color: #121212;">
            <div class="card-body">
              <h5 class="card-title">ZONA DE CONTACTO</h5>
              <div style="line-height: 2;"><i class="fa fa-location-arrow" style="width: 15px; text-align: center; margin-right: 4px;"></i> Osorno<br>
                <i class="fa fa-mobile" style="width: 15px; text-align: center; margin-right: 4px;"></i> Contacto: +56 9 55254838<br>
                <i class="fa fa-envelope-o" style="width: 15px; text-align: center; margin-right: 4px;"></i> Mail: agenda@ll.cl
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100" style="background-color: #121212;">
            <img src="/img/webpay.png" style="width: 80%;" class="card-img-top" alt="...">
            <div class="card-body">
              
            </div>
          </div>
        </div>
      </div>

      <div class="min-footer mt-3">
        <div class="col-left set-cont-mb-s reset-last-child text-center">
            <small>
                <a href="https://tuempresaonline.cl" style="text-decoration: none; color: white;">
                    <strong style="text-decoration: none; color: white;">TuCasaPremium</strong>
                </a> 
                <i class="fa fa-copyright"></i>
                <%- new Date().getFullYear() %>
            </small>
        </div>
        
            <div class="col-right set-cont-mb-s reset-last-child text-center">
                <img src="https://tucasaimpeque.cl/wp-content/themes/woodmart/images/payments.png" alt="payments">								
            </div>
        </div>
</footer>

<style>
    footer{
        background-color: #121212;
        color: white;
    }
</style>