<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmación de Compra</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .container {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    h2 {
      color: #555;
    }

    p {
      margin-top: 10px;
      color: #888;
    }

    .note {
      color: #ff7f50;
      font-weight: bold;
      margin-top: 20px;
    }

    .footer {
      margin-top: 30px;
      color: #888;
    }

    .btn {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      margin: auto;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <img src="/img/success.png" alt="Transacción Exitosa">
    <h2>Confirmación de Compra</h2>
    <p>Gracias por tu compra. Hemos recibido tu pedido y te hemos enviado un correo electrónico con los detalles de tu compra.</p>
    <p>Tu pedido será procesado una vez que hayamos recibido el importe en nuestra cuenta.</p>
    <p class="note">Recuerda que se envio el detalle de tu compra a tu correo electrónico.</p>
    <a class="btn" href="/">Ir al inicio</a>
    <div class="footer">
      <p>&copy; TuCasaPremium</p>
    </div>
  </div>
</body>
</html>